.cheevos-wrapper {
  background-color: #000;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

.cheevos-popup {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #aaa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  box-shadow: 3px 3px 6px 0 #000;
  -webkit-box-shadow: 3px 3px 6px 0 #000;
  -moz-box-shadow: 3px 3px 6px 0 #000;
  -o-box-shadow: 3px 3px 6px 0 #000;
  -ms-box-shadow: 3px 3px 6px 0 #000;
  display: none;
  font-size: 1.1em;
  min-width: 400px;
  max-width: 500px;
  overflow: visible;
  position: fixed;
  z-index: 800;
}

.cheevos-popup .cheevos-image {
  padding: 10px;
}

.cheevos-popup .cheevos-exit {
  cursor: pointer;
  overflow: visible;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 10000;
}

.cheevos-link-wrapper,
.all-link-wrapper,
.cheevos-text-wrapper {
  padding-left: 130px;
  padding-right: 10px;
}

.popups-close {
  position: relative;
  z-index: 100;
}

.ctools-modal-cheevos-modal-content {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.cheevos-left {
  float: left;
}

.cheevos-right {
  float: none;
}

.clear {
  clear: both;
}
